@import url("css/normalize.css");

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

.list-reset{
margin: 0;
padding: 0;
list-style-type: none;
}

.btn-reset{
padding: 0;
bottom: none;
background-color: transparent;
cursor: pointer;
}

/*---------------------------*/