@import url("/css/normalize.css");
@import url("/css/fonts.css");

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}
/*---------------------------*/

:root {
    --color-light: #fff;
    --color-grey: #838383;
    --color-dark: #1D1D1F;

    --offset: 190px;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1230px; 
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 20px 15px;
    min-width: 180px;
    font-weight: 600;
    line-height: 20px;
    font-size: 1.06rem;
    text-align: center;
}

.btn--light {
    color: var(--color-dark);
    background-color: var(--color-light);
    transition: all 0.25s ease;
}

.btn--light:hover {
    color: var(--color-light);
    background-color: var(--color-grey);
}

.btn--dark {
    color: var(--color-light);
    background-color: var(--color-dark);
    transition: all 0.25s ease;
}

.btn--dark:hover {
    color: var(--color-light);
    background-color: var(--color-grey);
}

/*----------header----------*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-light);
}

.header__search {
    width: 24px;
    height: 24px;
    margin-right: 35px;
}

.header__search svg { 
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__right {
    display: flex;
    align-items: center;;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 35px;
}

.nav__link {
    font-weight: 400;
    font-size: 1rem;
    text-align: right;
    line-height: 19px;
    color: var(--color-light);
}
/*----------/header----------*/


/*----------hero----------*/
.hero {
    padding-top: calc(150px + 119px);       /* отступ до хедера + высоата хедера */
    height: 100vh;
    min-height: 900px;
    background-image: url(../img/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: var(--offset);
}

.hero__title {
    margin: 0 0 30px 0;
    max-width: 850px;
    font-weight: 600;
    line-height: 116px;
    font-size: 6rem;
    color: var(--color-light);
}

.hero__text {
    margin-bottom: 50px;
    max-width: 468px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    line-height: 150%;
    color: var(--color-light);
}
/*----------/hero----------*/


/*----------info----------*/
.info {
    color: var(--color-dark);
}
.info__container {

}

.info__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: var(--offset);
}

.info__item:not(:last-child){
    margin-bottom: 60px;
}

.completed__value {
    font-weight: 300;
    font-size: 4rem;
    line-height: 140%;
}

.completed__desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-grey);
}

.info__title {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 140%;
    color: var(--color-dark);
    margin-bottom: 60px;
}

.info__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-dark);
}

.info__desc:not(:last-child) {
    margin-bottom: 30px;
}

.info__video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: var(--offset);
}

.info__video video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info__play {
    width: 100px;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info__play svg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*----------/info----------*/


/*----------portfolio----------*/

.portfolio {
    margin-bottom: var(--offset);
}

.portfolio-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
}

.portfolio-item:not(:last-child) {
    margin-bottom: 120px;
}

.portfolio-item--reverse .portfolio-item__left {
    order: 2;
}

.portfolio-item--reverse .portfolio-item__right {
    order: 1;
}

.portfolio-item__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    color: var(--color-grey);
    margin-bottom: 20px;
}

.portfolio-item__desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-dark);
    margin-bottom: 60px;
}
/*----------/portfolio----------*/


/*----------quote----------*/
.quote {
    margin-bottom: var(--offset);
}

.quote__title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 50px;
}

.quote__content {
    max-width: 820px;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 150%;
    color: var(--color-dark);
    margin-bottom: 30px;
}

.quote__author {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-dark);
}

.quote__author span {
    font-style: italic;
    color: var(--color-grey);   
}

/*----------/quote----------*/


/*----------services----------*/
.services {
    margin-bottom: var(--offset);
}
.services__img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-bottom: var(--offset);
}


.services__item {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
    border-top: 1px solid rgba(131, 131, 131, 0.4); ;
}

.services-item__title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    color: var(--color-dark);
}
.services-item__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-grey);
}

/*----------/services----------*/


/*----------footer----------*/
.footer {
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 0;
}

.container__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 98px 0 118px 0;
}

.footer__right {

}

.footer__left {
}

.footer__logo {
    display: inline-block;
    margin-bottom: 48px;
}
.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 30px;
}

.social__items {
    display: flex;
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.social__link {
    display: block;
    width: 40px;
    height: 40px;
}

.social__link a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    color: var(--color-light);
    margin-bottom: 30px;
}

.footer__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    font-weight: 700;
    font-size: 0.81rem;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: var(--color-grey);
}

.footer__input {

    width: 100%;
    padding: 17px 30px 15px 0;
    background-color: var(--color-dark);
    border: none;
    border-bottom: 1px solid var(--color-grey);
    font-weight: 700;
    font-size: 0.81rem;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: var(--color-light);
}

.footer__input::placeholder {
    color: var(--color-grey);
}

.footer__btn {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 25%;
}

.footer__btn svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*----------/footer----------*/